@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  /* Default colors */
  --color-primary: #ee8c2b;
  --color-secondary: #1b140d;
  --color-gray-1: #6b7280;
  --color-gray-2: #e7dbcf;
  --color-gray-3: #f8f7f6;
  --color-gray-4: #f1f5f9;
  --color-gray-5:
    #475569 /* Font family */ --font-sans: "Be Vietnam Pro", sans-serif;
}
